@{
    Layout = "_Layout";
}

@using LibraryCatalog.Models

@model LibraryCatalog.Models.Checkout


<h3 class="text-center">Checkout</h3>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Copy)
  @Html.TextBoxFor(model => model.Copy, new {@class = "form-control"})
  <br>
  @Html.Label("Author")
  @Html.DropDownList("AuthorId")

  @Html.Label("Due Date(yyyy-MM-dd)")
  @Html.EditorFor(model => model.DueDate, new { @type = "date" })
  <br>
  <input type="submit" value="Checkout" class="btn btn-dark" />
}
